
.notificationContainer {
    color: #b60217;
    background-color: #f6dede;
    padding: 1px 0px;
    margin-top: 10px;
    height: 45px;
}
  
.notificationText {
    font-size: 14px;
    margin: 10px;
}
